.wrap{
    width: 1200px;
    margin: 50px auto;
}
.form-group{
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    padding: 1rem 1.2rem;
    box-sizing: border-box;
}
input{
    width: 50%;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px ;
}
label{
    width: 30%;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: right;
}
select{
    width: 60%;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.4rem 1.4rem;
    box-sizing: border-box;
}
input[type=submit]{
    width: 35%;
    display: block;
    margin: 20px auto;
    background-color: #45bd42;
    color: #fff;
}
input[type=color]{
    padding: 0;
}
p{
    text-align: center  ;
}